:root {
  --main-bg-color: #ff7979;
  --button-color: #38cc8b;
  --second-bg-color: #5e54a4;
  --main-text-color: #3d3b48;
}

.intro {
  display: flex;
}

.information {
  max-width: 525px;
}

.form {
  display: flex;
  flex-direction: column;
}
